.imagem-carrossel{
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial{
    color: darkred;
}

.botao-receita{
    background-color: darkred;
    color: white;
    border-color: darkred;
}

.botao-receita:hover{
    background-color: red;
    color: white;
    border-color: darkred;
}
.card-img-top{
    object-fit: cover;
    height: 200px;
}

.card{
    max-width: 22rem;
}